@import "mixins/variables.scss";

.tile-list{
    width: 128px;
    float: left;
    color: $default-color;

    .tile-list-title{
        height: 36px;
        border-bottom: $bg-dark-color-border solid 2px;
        text-align: center;
        color: #FFF;

        background-color: $primary-color;
        height: 40px;

        h4{
            transform: translate( 0,50%);
            margin: 0px;
        }
    }

    .tile{
        border-bottom: $bg-dark-color-border solid 1px;
        border-right: $bg-dark-color-border solid 1px;
        cursor: pointer;

        span{
            display:inline-block;
            transform: translate( calc(50% + 5px),50%);

            img{
                display: block;
                opacity: 0.5;
            }

            label{
                display: block;
                font-weight: 450;
                margin-bottom: 2px;
            }
        }
    }
}



.tile-128{
    width: 128px;
    height: 128px;
}

.tile-155{
    width: 128px;
    height: 155px;
}

.tile-155{
    span{
        margin-top: -40px;
        margin-left: -10px;
    }
}

.tile-135{
    width: 108px;
    height: 70px;
}
.tile-100{
    width: 100px;
    height: 100px;
}
.tile-100-65{
    width: 100px;
    height: 65px;
}
.tile-80-90{    
    width: 80px;
    height: 90px;
}

.disabled-tiles{
    opacity: 0.5;
    pointer-events: none;

    > * {
        opacity: 0.5;
        pointer-events: none;
    }
}
