/MillionMeals/target/
/MillionMeals/node_modules/
/MillionMeals/bower_components/
/MillionMeals/src/main/resources/static/
/MillionMeals/debug.log
/MillionMeals/src/main/resources/META-INF/persistence.xml
/MillionMeals/upload-image
/MillionMeals/.idea
/MillionMeals - Copy/bower_components/
/MillionMealsAdmin/bower_components/
/MillionMealsAdmin/target/