<div class="index-content-header">
</div>
<div class="index-content-body ">
    <div class="col-xs-4 background-dark">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 92px);">
            <div class="col-xs-12" style="flex: 0 0 auto; height: 95px; padding-right: 22px;">
                <table class="table-rounded control-table">
                    <col style="width: 35%"/>
                    <col style="width: 65%"/>
                    <tbody>
                    <tr>
                        <td><label>Name :</label></td>
                        <td><input class="form-control" id="name" ng-model="model.item.name"
                                   ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>
                    <tr>
                        <td><label>Code :</label></td>
                        <td><input class="form-control" id="code" ng-model="model.item.code"
                                   ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>
                    <tr>
                        <td><label>Main Category :</label></td>
                        <td><input class="form-control" ng-model="model.item.mainCategory"
                                   uib-typeahead="mainCategory.indexNo as (mainCategory.indexNo + ' - ' + mainCategory.name) for mainCategory in model.mainCategoryList |filter:$viewValue|limitTo:10"
                                   typeahead-input-formatter="ui.mainCategoryLable($model)"
                                   ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>
                    <tr>
                        <td><label>Sub Category :</label></td>
                        <td><input class="form-control" ng-model="model.item.subCategory"
                                   uib-typeahead="subCategory.indexNo as (subCategory.indexNo + ' - ' + subCategory.name) for subCategory in model.subCategoryList |filter:$viewValue|limitTo:10"
                                   typeahead-input-formatter="ui.subCategoryLable($model)"
                                   ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>
                    <tr>
                        <td><label>Category :</label></td>
                        <td><input class="form-control" ng-model="model.item.category"
                                   uib-typeahead="category.indexNo as (category.indexNo + ' - ' + category.name) for category in model.categoryList |filter:$viewValue|limitTo:10"
                                   typeahead-input-formatter="ui.categoryLable($model)"
                                   ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                    </tr>

                    <tr>
                        <td><label>Stock Type :</label></td>
                        <td>
                            <select class="form-control" ng-model="model.item.type"
                                    ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                                <option value="non_stock">Non Stock</option>
                                <option value="stock">Stock</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Type :</label></td>
                        <td>
                            <select class="form-control" ng-model="model.item.type2"
                                    ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                                <option value="kot_send">KOT Send</option>
                                <option value="bot_send">BOT Send</option>
                                <option value="direct_sale">Direct Sale</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-8 background-light">
        <div class="row" style="display: flex; flex-flow: column;">
            <div class="col-xs-12">
                <div class="row col-xs-5">
                    <input type="text" class="search-input" ng-model="model.search.name" placeholder="search">
                </div>
                <table class="table-rounded">
                    <col style="width: 7%">
                    <col style="width: 15%">
                    <col style="width: 16%">
                    <col style="width: 15%">
                    <col style="width: 15%">
                    <col style="width: 15%">
                    <col style="width: 15%">
                    <col style="width: 10%">
                    <thead class="background-dark">
                    <tr>
                        <th><label>Code</label></th>
                        <th><label>Name</label></th>
                        <th><label>M Category</label></th>
                        <th><label>Category</label></th>
                        <th><label>S Category</label></th>
                        <th><label>Stock Type</label></th>
                        <th><label>Type</label></th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                </table>
                <div class="smart-scroll-y" style="height: calc(100vh - 275px);">
                    <table class="table-rounded">
                        <col style="width: 7%">
                        <col style="width: 15%">
                        <col style="width: 16%">
                        <col style="width: 15%">
                        <col style="width: 15%">
                        <col style="width: 15%">
                        <col style="width: 15%">
                        <col style="width: 10%">
                        <tbody>
                        <tr ng-repeat="item in model.itemList| filter:model.search.name | orderBy:'indexNo'">
                            <td><label class="label label-default">{{item.code}}</label></td>
                            <td>{{item.name}}</td>
                            <td>{{ui.mainCategoryLable(item.mainCategory)}}</td>
                            <td>{{ui.categoryLable(item.category)}}</td>
                            <td>{{ui.subCategoryLable(item.subCategory)}}</td>
                            <td>{{item.type}}</td>
                            <td>{{item.type2}}</td>
                            <td class="text-right" style="padding-left: 5px;">
                                <a class="btn btn-primary" ng-click="ui.edit(item, $index)"><span
                                        class="glyphicon glyphicon-edit"></span></a>
                                <a class="btn btn-danger" ng-click="ui.delete(item.indexNo, $index)"><span
                                        class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL' || ui.mode === 'SELECTED'" ng-click="ui.new();"><i
            class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-success" ng-show="ui.mode === 'NEW' || ui.mode === 'EDIT'" ng-click="ui.save();"><i
            class="glyphicon glyphicon-ok"></i></a>
</div>
