<div class="index-content-header">
</div>
<div class="index-content-body ">
    <div class="col-xs-4 background-dark">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 92px);">
            <div class="col-xs-12" style="flex: 0 0 auto; height: 95px; padding-right: 22px;">
                <table class="table-rounded control-table">
                    <col style="width: 35%"/>
                    <col style="width: 65%"/>
                    <tbody>
                        <tr>
                            <td><label>Item :</label></td>
                            <td><input class="form-control" id="item"  ng-model="model.product.item" uib-typeahead="items.indexNo as (items.indexNo + ' - ' + items.name) for items in model.itemList |filter:$viewValue|limitTo:10" typeahead-input-formatter="ui.itemLable($model)" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"> </td>
                        </tr>
                        <tr>
                            <td><label>Item Unit :</label></td>
                            <td><input class="form-control" ng-model="model.product.unit" uib-typeahead="units.indexNo as (units.indexNo + ' - ' + units.name) for units in model.unitList |filter:$viewValue|limitTo:10" typeahead-input-formatter="ui.itemUnitLable($model)" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"> </td>
                        </tr>
                        <tr>
                            <td><label>Price :</label></td>
                            <td><input class="form-control" ng-model="model.product.price" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"> </td>
                        </tr>
                        <tr>
                            <td><label>Qty :</label></td>
                            <td><input class="form-control" ng-model="model.product.qty" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-8 background-light">
        <div class="row" style="display: flex; flex-flow: column;">
            <div class="col-xs-12">
                <div class="row col-xs-5">
                    <input type="text" class="search-input" ng-model="model.search.name" placeholder="search">
                </div>
                <table class="table-rounded">
                    <col style="width: 10%">
                    <col style="width: 30%">
                    <col style="width: 15%">
                    <col style="width: 15%">
                    <col style="width: 15%">
                    <col style="width: 10%">
                    <thead class="background-dark">
                        <tr>
                            <th> <label>#</label> </th>
                            <th> <label>Item</label></th>
                            <th> <label>Unit</label></th>
                            <th> <label>Price</label></th>
                            <th> <label>Qty</label></th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                </table>
                <div class="smart-scroll-y" style="height: calc(100vh - 275px);">
                    <table class="table-rounded">
                    <col style="width: 10%">
                    <col style="width: 30%">
                    <col style="width: 15%">
                    <col style="width: 15%">
                    <col style="width: 15%">
                    <col style="width: 10%">
                        <tbody>
                            <tr ng-repeat="products in model.productList| filter:model.search.name | orderBy:'indexNo'">
                                <td><label class="label label-default">{{products.indexNo|fixedLength:5}}</label></td>
                                <td>{{ui.itemLable(products.item)}}</td>
                                <td>{{ui.itemUnitLable(products.unit)}}</td>
                                <td>{{products.price}}</td>
                                <td>{{products.qty}}</td>
                                <td class="text-right" style="padding-left: 5px;">
                                    <a class="btn btn-primary" ng-click="ui.edit(products, $index)"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a class="btn btn-danger" ng-click="ui.delete(products.indexNo, $index)"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL' || ui.mode === 'SELECTED'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-success" ng-show="ui.mode === 'NEW' || ui.mode === 'EDIT'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
</div>
