<div class="index-content-header">

</div>
<div class="index-content-body">
    <div style="height: 55px;padding-top: 10px;background-color: #494966;">
        <div class="col-xs-2">
            <button type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-road"></span> WALK
                IN
            </button>
        </div>
        <div class="col-xs-2">
            <button type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-earphone"></span>
                ON CALL
            </button>
        </div>


        <div class="col-xs-2 pull-right">
            <button type="button" class="btn btn-warning btn-block">DELIVERY</button>
        </div>
        <div class="col-xs-2 pull-right">
            <button type="button" class="btn btn-warning btn-block" ng-click="ui.selectDineIn()">DINE IN</button>
        </div>
        <div class="col-xs-2 pull-right">
            <button type="button" class="btn btn-warning btn-block" ng-click="ui.selectTakeAway()">TAKE AWAY</button>
        </div>


    </div>

    <div class="col-xs-12" ng-show="ui.mode ==='dineIn'">
        <div class="row" style="height: 66px;background-color: #568594;">
            <div>
                <ul class="smart-scroll-x" style="white-space: nowrap; width: auto; ">
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px;margin-left: -25px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>
                    <li style="display: inline-block">
                        <div class="text-center"
                             style="background-color: #fdf8ff;width: 50px;height: 50px;padding: 8px;margin:5px">
                            <h4>T1</h4>
                        </div>
                    </li>

                </ul>
            </div>

        </div>

    </div>

    <div class="col-xs-2 background-dark" style="height: calc(100vh - {{style.MainItemHeight}});">
        <table class="table-rounded table-hover" style="margin-top: 7px">
            <tbody>
            <tr style="line-height: 60px;" ng-repeat="mainCategory in mainCategoryList"
                ng-click="ui.selectMainCategory(mainCategory.indexNo)"
                ng-class="ui.selectedMainCategory === mainCategory.indexNo ? 'selected':''">
                <td style="font-size: 25px;text-align: center"><span ng-show="mainCategory.indexNo === 1"
                                                                     class="glyphicon glyphicon-cutlery"></span><span
                        ng-show="mainCategory.indexNo === 2" class="glyphicon glyphicon-glass"></span>
                    {{mainCategory.name}}
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div class="col-xs-4">
        <div class="row" style="padding: 6px;background-color: #a9d0e6;">
            <input type="text" class="form-control" placeholder="search..">
        </div>
        <div class="row smart-scroll-y" style="height: calc(100vh - {{style.MenuItemHeight}});margin-left: 23px">
            <div class="col-sm-5" ng-repeat="subCategory in subCategoryList"
                 style="background-color: #4f9fcb7d;padding: 10px;margin: 5px;height: 100px"
                 ng-click="ui.selectSubCategory(subCategory.mSubCategory.indexNo)"
                 ng-show="ui.menumode ==='subcategory'">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{subCategory.mSubCategory.name}}</h5>
                        <p class="card-text">With supporting text</p>
                        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
            </div>

            <div class="col-sm-5" ng-repeat="item in itemList"
                 style="background-color: #4f9fcb7d;padding: 10px;margin: 5px;height: 100px"
                 ng-click="ui.selectItem(item)" ng-show="ui.menumode ==='item'">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">With supporting text</p>
                        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xs-6 background-dark">
        <div class="row" style="padding:6px;background-color: #a7a7a7;">
            <div class="col-xs-4">
                <input type="text" class="form-control" placeholder="Tel No">
            </div>
            <div class="col-xs-4">
                <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="col-xs-3">
                <input type="text" class="form-control" placeholder="Order No">
            </div>
            <div class="col-xs-1">
                <button class="btn btn-sm btn-primary">+</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table-rounded">
                    <col style="width: 40%"/>
                    <col style="width: 15%"/>
                    <col style="width: 20%"/>
                    <col style="width: 20%"/>
                    <col style="width: 15%"/>
                    <col style="width: 10%"/>
                    <tbody>

                    <td>Name</td>
                    <td>Qty</td>
                    <td>Price</td>
                    <td>Discount</td>
                    <td>Total</td>
                    <td>&nbsp;</td>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - {{style.selectItemHeight}});">
                <table class="table-rounded table-hover square-table">
                    <col style="width: 40%"/>
                    <col style="width: 15%"/>
                    <col style="width: 20%"/>
                    <col style="width: 20%"/>
                    <col style="width: 15%"/>
                    <col style="width: 10%"/>
                    <tbody>
                    <tr style="line-height: 50px" ng-repeat="item in selectedItemList">
                        <td>{{item.itemName}}</td>
                        <td>{{item.qty}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.discount}}</td>
                        <td>{{item.value}}</td>
                        <td>
                            <button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="padding-top: 10px">
            <!--<div class="col-xs-3 pull-right">-->
            <!--<label style="color: white">Balance</label>-->
            <!--<input type="text" class="form-control">-->
            <!--</div>-->
            <div class="col-xs-4 pull-right">
                <label style="color: white">Total Amount</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-xs-4 pull-right">
                <label style="color: white">Total Tax</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-xs-4 pull-right">
                <label style="color: white">Sub Total</label>
                <input type="text" class="form-control">
            </div>

        </div>
        <div class="row" style="height: 60px;padding-top: 13px">
            <div class="col-xs-3 pull-right">
                <button type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-usd"></span>
                    PAYMENT
                </button>
            </div>
            <div class="col-xs-2 pull-right">
                <button type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-print"></span>
                    PRINT
                </button>
            </div>
            <div class="col-xs-3 pull-right">
                <button type="button" class="btn btn-warning btn-block"><span class="glyphicon glyphicon-send"></span>
                    SEND KOT/BOT
                </button>
            </div>
            <!--<div class="col-xs-3 pull-right">-->
            <!--<button type="button" class="btn btn-warning btn-block">SEND BOT</button>-->
            <!--</div>-->
        </div>
    </div>


    <!--pop up dialogs-->
    <script type="text/ng-template" id="item_selection_popup.html">
        <div class="col-lg-12 background-light">
            <div class="row">
                <div class="modal-header">
                    <div class="col-lg-12 text-center">
                        <label style="font-size: 25px;">SELECT UNIT</label>
                    </div>
                </div>
                <div class="col-xs-4" style="margin-top: 10px" ng-repeat="product in productList">
                    <div class="panel panel-primary">
                        <div class="panel-heading">{{product.mUnit.name}}</div>
                        <div class="panel-body">RS : {{product.price}}</div>
                        <input type="number" class="form-control" placeholder="qty" ng-model="product.selectQty">
                        <!--<label>Discount</label>-->
                        <input type="text" class="form-control" placeholder="discount" ng-model="product.discount">
                    </div>
                </div>

                <div class="col-xs-12" style="margin-top: 10px">
                    <button class="btn btn-success btn-block" ng-click="ui.addToOrder()">ADD TO ORDER</button>
                </div>

                <div class="modal-footer" style="background-color: #FFFF;">

                </div>
            </div>
        </div>

    </script>
</div>