<!DOCTYPE html>
<html>
    <head>
        <title>Million Meals</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="img/care-point-logo.png">

        <!--css-->
        <!-- inject:css -->
        <!-- endinject -->

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    </head>
    <body ng-app="appModule" ng-controller="appController">
        <!--side panel-->
        <div class="side-bar-left background-ultra-dark" ng-class="hamburgerOpen ? 'side-bar-hidden' : ''">
            <div>
                <div class="brand" style="height: 77px">
                    <img src="img/million_meals.jpg" height="50" width="50"/>
                    <div class="brand-text" style="margin-left: 20px;padding-top: 7px;">MILLION MEALS</div>
                </div>

                <div class="user">
                    <!--<img src="img/avatar.jpg" class="avatar img-circle"/>-->
                    <div class="name">
                        <span>LOGIN USER</span>
                    </div>
                </div>

                <div class="index-sidebar-navigation smart-scroll-y" style="height: calc(100vh - 113px)">
                    <ul>
                        <li> 
                            <a class="menu-header">REGISTRATION</a>
                            <ul>
                                <li><a href="#/main">Dash Board</a></li>
                            </ul>
                            <ul>
                                <li><a href="#/customer" >Customer</a></li>
                            </ul>
                            <ul>
                                <li><a href="#/main-category" >Main Category</a></li>
                            </ul>
                            <ul>
                                <li><a href="#/sub-category" >Sub Category</a></li>
                            </ul>
                            <ul>
                                <li><a href="#/category" >Category</a></li>
                            </ul>
                            <ul>
                                <li><a href="#/unit" >Unit</a></li>
                            </ul>
                            <ul>
                                <li><a href="#/item" >Item</a></li>
                            </ul>
                            <ul>
                                <li><a href="#/product" >Product</a></li>
                            </ul>
                            <ul>
                                <li><a href="#/table" >Table</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="menu-header">REORTS</a>
                            <ul>
                                <li><a href="#/product-wise">Product Wise</a></li>
                            </ul>
                            <ul>
                                <li><a href="#/invoice-summery">Invoice Summery</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end side panel-->


        <div class="index-middle">
            <div class="index-header  background-light">

                <div class="hamburger" ng-click="toggleHamburger();">
                    <div ng-class="hamburgerOpen ? '' : 'open'">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="col-xs-1">
                    <!--//space for hambager-->
                </div>
                <div class="col-xs-3">
                    <span class="text-primary">
                        MILLION MEALS
                    </span>
                    <span class="text-default">
                        |
                    </span>
                    <span class="text-default">
                        {{currentPageName}}
                    </span>
                </div>
                <div class="col-xs-5 text-center">
                    <span class="text-primary text-capitalize" style="font-weight: 300; font-size: 18px;">{{currentBranch}} Branch</span>
                    |&nbsp;{{date}}

                </div>

                <div class="col-xs-2">
                    <td><span class="text-primary text-capitalize text-bold">{{loginUser}}</span>
                        <table  style="width: auto; float: right;">
                            <tbody>
                                <tr>
                                    <td><a class="btn btn-primary"><span class="glyphicon glyphicon-bell"></span></a></td>
                                    <td><a class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span></a></td>
                                    <td><a class="btn btn-primary" ng-click="logout();"><span class="glyphicon glyphicon-user"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>

            <!--            <div>
                            <ul class="nav nav-tabs" ng-show="homepageUrls.length && isHomepage()">
                                <li ng-repeat="url in homepageUrls">
                                    <a href="{{url.url}}">{{url.name}}</a>
                                </li>
                            </ul>
                        </div>-->


            <div class="index-content" ng-view>
                <!--CONTENT OF THE APP-->
            </div>
        </div>


        <!--index page loading animation-->		
        <div id="page-loading" class="page-loading">		
            <div class="spinner">		
                <div class="bounce1"></div>		
                <div class="bounce2"></div>		
                <div class="bounce3"></div>		
            </div>		
        </div>		
        <!--route loading animation-->		
        <div class="route-loading" ng-show="routeLoading">		
            <div class="spinner">		
                <div class="bounce1"></div>		
                <div class="bounce2"></div>		
                <div class="bounce3"></div>		
            </div>		
        </div>

        <!--js dependencies-->
        <!-- inject:js -->
        <!-- endinject -->
        <script type="text/javascript">
                    document.addEventListener("DOMContentLoaded", function (event) {
                        setTimeout(function () {
                            var element = document.getElementById("page-loading");
                            element.className += " exit";
                            setTimeout(function () {
                                element.parentNode.removeChild(element);
                            }, 250);
                        }, 1000);
                    });
        </script>
    </body>
</html>
